@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    font-family: Inter, sans-serif;
    overflow-x: hidden;

    @apply bg-gray-light;
  }

  button {
    @apply relative font-medium inline-flex overflow-hidden;
  }
}

@layer components {
  .container {
    @apply max-w-[1220px] overflow-hidden;
  }

  .container-fluid {
    @apply w-screen;
  }

  .checkbox {
    @apply w-5 h-5 bg-white border-2 mr-3 peer-focus-visible:ring-1
  }

  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    @apply absolute h-0 cursor-pointer pointer-events-none z-50
  }

  .thumb::-webkit-slider-thumb {
    background: #FFFFFF;
    border: 1px solid #AFD0FF;
    box-shadow: 0 2px 4px rgba(16, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    pointer-events: all;
    position: relative;
  }

  .fixed-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
  }

  .sm {
    @apply px-2.5 py-1.75 text-[13px] leading-[16px];
  }

  .md {
    @apply px-4 py-2.5 leading-[19px];
  }

  .lg {
    @apply px-5 py-4 text-lg leading-[22px];
  }

  .paginationItem {
    @apply first:border-l last:border-r py-2.5 text-blue justify-center border-r border-gray-medium;
  }

  .link {
    @apply flex items-center flex-col duration-500
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-gradient-to-r from-[#127FFF] to-blue duration-500 hover:saturate-200
  }

  .bg-light {
    @apply border border-gray-medium duration-500 hover:bg-gray-medium;
  }

  .bg-dark {
    @apply bg-black hover:bg-gray-dark duration-500
  }

  .beforeLine {
    @apply before:block before:bg-gray-medium before:h-[1px]
  }

  .afterLine {
    @apply after:block after:bg-gray-medium after:h-[1px]
  }

  .rect-hover rect {
    @apply hover:fill-gray-dark duration-300
  }
}