@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: Inter, sans-serif;
    overflow-x: hidden;
    @apply bg-gray-light;
  }

  #root {
    @apply flex flex-col h-screen;
  }

  button {
    @apply relative font-medium inline-flex overflow-hidden;
  }
}

@layer components {
  .container {
    @apply max-w-[1220px];
  }

  .container-fluid {
    @apply w-screen;
  }

  .checkbox {
    @apply w-5 h-5 bg-white border-2 mr-3 peer-focus-visible:ring-1;
  }

  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    @apply absolute h-0 cursor-pointer pointer-events-none z-50;
  }

  .thumb::-webkit-slider-thumb {
    background: #ffffff;
    border: 1px solid #afd0ff;
    box-shadow: 0 2px 4px rgba(16, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    pointer-events: all;
    position: relative;
  }

  .fixed-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
  }

  .sm {
    @apply px-2.5 py-1.75 text-[13px] leading-[16px];
  }

  .md {
    @apply px-4 py-2.5 leading-[19px];
  }

  .lg {
    @apply px-5 py-4 text-lg leading-[22px];
  }
  /*  */
  .paginationItem {
    @apply w-[44px] py-2.5 text-blue justify-center text-black border-gray-medium;
  }

  .link {
    @apply flex flex-col hover:text-gray-dark duration-500;
  }

  .timerItem {
    @apply flex flex-col items-center bg-[#606060] w-[45px] h-[50px] rounded-md lg:text-xs lg:w-[35px] lg:h-[40px] md:w-[35px] sm:w-[30px] sm:h-[35px] sm:text-[11px];
  }

  .formInput {
    @apply p-2.5 border border-gray-medium rounded-md;
  }

  .base-input {
    @apply w-full px-4 leading-5 text-black placeholder:text-gray-hot outline-none;
  }

  .base-button {
    @apply text-white rounded-md outline-none focus-visible:ring-1 shrink-0;
  }

  .title {
    @apply text-black text-2xl font-semibold md:text-xl sm:px-5;
  }

  .product-image {
    @apply mx-auto h-full w-full object-cover;
  }

  .modal {
    @apply bg-white p-6 rounded-lg shadow-lg;
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-gradient-to-r from-[#127FFF] to-blue duration-500 hover:saturate-200;
  }

  .bg-light {
    @apply border border-gray-medium duration-500 hover:bg-gray-medium;
  }

  .bg-dark {
    @apply bg-black hover:bg-gray-dark duration-500;
  }

  .bg-light-red {
    @apply bg-[#FFE3E3] rounded-[29px]  duration-500 hover:saturate-200;
  }

  .beforeLine {
    @apply before:block before:bg-gray-medium before:h-[1px];
  }

  .afterLine {
    @apply after:block after:bg-gray-medium after:h-[1px];
  }

  .rect-hover rect {
    @apply hover:fill-gray-dark duration-300;
  }

  .base-border-gray {
    @apply border border-gray-medium rounded-md px-4 py-5 bg-white;
  }

  .full-screen {
    margin-left: calc(50% - 50vw);
  }

  .slide-w-auto {
    width: auto !important;
  }

  .dots {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
  }

  .dots:before,
  .dots:after {
    content: '';
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    background-color: #dee2e7;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .dots:before {
    left: 0;
  }

  .dots:after {
    right: 0;
  }
  
  .scrollbar-y::-webkit-scrollbar {
    @apply w-1 duration-300;
  }
  
  .scrollbar::-webkit-scrollbar {
    @apply h-1 duration-300;
  }
  
  .scrollbar-y::-webkit-scrollbar-thumb,
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-lightblue duration-300;
  }
  
  .scrollbar-y::-webkit-scrollbar-thumb,
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-blue/50 duration-300;
  }
  
  .swiper-active-slide .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side,#0D6EFD 94%,#0000) top/16px 16px no-repeat,
        conic-gradient(#0000 30%,#0D6EFD);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:spinner-rotation 1s infinite linear;
  }
}

@keyframes spinner-rotation {
  100% {
    transform: rotate(1turn)
  }
}

.slide-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .swiper {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
