.recommend {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 33px;
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #1c1c1c;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    grid-template-rows: repeat(2, 310px);
    gap: 20px;
    overflow: hidden;
    .item {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 23px 18px 18px 18px;
      background: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 6px;
      img {
        width: 150.22px;
        height: 170px;
        align-self: center;
        margin-bottom: 30px;
      }
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #1c1c1c;
        margin-bottom: 3px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #8b96a5;
      }
    }
  }
}
