.deals {
  display: flex;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e0e0e0;

  .info {
    max-width: 305px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
    padding: 17px 0 0 20px;
    border-right: 1px solid #e0e0e0;
    .title {
      h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
        color: #1c1c1c;
      }
      h6 {
        font-size: 16px;
        line-height: 19px;
        color: #8b96a5;
      }
    }
    .timer {
      display: flex;
      align-items: center;
      gap: 6px;
      .box {
        max-width: 45px;
        width: 100%;
        padding: 8px;
        background: #606060;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .list {
    width: 100%;
    display: flex;
    overflow: hidden;
    .listItem {
      max-width: 179px;
      width: 100%;
      max-height: 235px;
      min-height: 235px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 17px 32px;
      border-right: 1px solid #e0e0e0;

      img {
        width: 100px;
        height: 120px;
      }
      h5 {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.2px;
        color: #1c1c1c;
      }
      button {
        cursor: pointer;
        border: none;
        padding: 5px 13px;
        color: #eb001b;
        background: #ffe3e3;
        border-radius: 29px;
      }
    }
  }
}
