.item {
  max-width: 223px;
  width: 100%;
  padding: 20px 0 20px 16px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  &:nth-child(4n) {
    border-right: none;
  }

  &_info {
    display: flex;
    align-items: start;
  }

  &_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: start;
    justify-content: space-between;
  }

  h5 {
    font-size: 16px;
    line-height: 19px;
    color: #1c1c1c;
  }

  &_price {
    font-size: 13px;
    line-height: 16px;
    color: #8b96a5;
  }
}
