.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
  }
}

img {
  width: 150px;
  height: 46px;
}

.input {
  max-width: 665px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 2px solid #0d6efd;
  border-radius: 4px;

  input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    color: #8b96a5;

    &::placeholder {
      color: #8b96a5;
    }
  }

  span {
    cursor: pointer;
    border-left: 1px solid #0d6efd;
    padding: 10px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 19px;
    color: #1c1c1c;
  }

  button {
    cursor: pointer;
    padding: 10px 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    color: #ffffff;
    background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}


.categories {
  display: flex;
  align-items: center;
  gap: 25px;

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1c1c1c;
  }
}

.switchers {
  display: flex;
  align-items: center;
  gap: 38px;

  .lang,
  .ship {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1c1c1c;
  }
}

.input {
}

.actions {
}

.bottom {
}

.categories {
}

.switchers {
}

.lang {
}

.ship {
}
