.hero {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 15px;
  padding: 20px 15px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 6px;

  .categories {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    p {
      cursor: pointer;
      width: 100%;
      background: #e5f1ff;
      border-radius: 6px;
      padding: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #1c1c1c;
    }
  }

  .slide {
    max-width: 664px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .offers {
    display: flex;
    flex-direction: column;
    gap: 19px;

    .userAuth {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      background: #e3f0ff;
      border-radius: 6px;

      .user {
        display: flex;
        align-items: start;
        gap: 9px;
        img {
          width: 44px;
          height: 44px;
        }
        p {
          max-width: 112px;
          width: 100%;
          font-size: 16px;
          line-height: 19px;
          color: #1c1c1c;
        }
      }
      button {
        width: 100%;
        padding: 7px 62px;
        border: none;
        color: #ffffff;
        background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
        border-radius: 6px;
      }
    }

    .offer {
      padding: 16px 40px 22px 16px;
      background: #f38332;
      border-radius: 6px;
      p {
        max-width: 140px;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
      }

      &:last-child {
        background: #55bdc4;
      }
    }
  }
}
